<a href="https://colab.research.google.com/github/DS-17-Projects-Tracking/NMPEDdata/blob/robert/aps/parquet.nascent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Convert parquet from long to wide

## Read in parquet file

In [1]:
import pandas as pd
import requests
import zipfile
import io

In [ ]:
url = 'https://github.com/DS-17-Projects-Tracking/NMPEDdata/raw/refs/heads/main/aps/Perseverance_Survey_132_cols.csv.zip'

response = requests.get(url)
with zipfile.ZipFile(io.BytesIO(response.content)) as zip_ref:
  csv_filename = [x for x in zip_ref.namelist() if x.endswith(".csv")][0]
  with zip_ref.open(csv_filename) as csvfile:
    df = pd.read_csv(csvfile, encoding='utf-16', delimiter='\t')
df.shape

In [13]:
df.astype("str").to_parquet("Perseverance_Survey_132_cols.parquet")

In [99]:
!ls -la --si

total 41M
drwxr-xr-x 2 root root 4.1k Apr  8 04:03 .
drwxr-xr-x 4 root root 4.1k Apr  8 03:56 ..
-rw-r--r-- 1 root root  65k Apr  8 03:53 aps_administration_feeder-schools.html
-rw-r--r-- 1 root root  65k Apr  8 03:53 aps_administration_feeder-schools.html.txt
-rw-r--r-- 1 root root  50k Apr  8 03:53 aps_ppe_data.parquet
-rw-r--r-- 1 root root 2.2M Apr  8 04:25 foo.parquet
-rw-r--r-- 1 root root 1.5M Apr  8 03:53 Perseverance_Fall_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root 1.4M Apr  8 03:53 Perseverance_Spring_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root 7.6M Apr  8 03:53 Perseverance_Survey_132_cols.csv.zip
-rw-r--r-- 1 root root 2.3M Apr  8 04:41 Perseverance_Survey_132_cols.parquet
-rw-r--r-- 1 root root 1.6M Apr  8 03:53 Self_Efficacy_Fall_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root 1.7M Apr  8 03:53 Self_Efficacy_Spring_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root 2.8M Apr  8 03:53 Self_Regulation_Fall_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root 3.1M Apr  8 03:53 Self_Regulation_Spring_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root 1.9M Apr  8 03:53 Sense_of_Belonging_Fall_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root 2.1M Apr  8 03:53 Sense_of_Belonging_Spring_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root 2.4M Apr  8 03:53 Social_Awareness_Fall_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root 2.6M Apr  8 03:53 Social_Awareness_Spring_2023_2024_Full_Data.csv.zip
-rw-r--r-- 1 root root    5 Apr  8 03:53 stub.md
-rw-r--r-- 1 root root 660k Apr  8 03:53 survey_df01.parquet
-rw-r--r-- 1 root root 604k Apr  8 03:53 survey_df02.parquet
-rw-r--r-- 1 root root 668k Apr  8 03:53 survey_df03.parquet
-rw-r--r-- 1 root root 751k Apr  8 03:53 survey_df04.parquet
-rw-r--r-- 1 root root 974k Apr  8 03:53 survey_df05.parquet
-rw-r--r-- 1 root root 1.1M Apr  8 03:53 survey_df06.parquet
-rw-r--r-- 1 root root 807k Apr  8 03:53 survey_df07.parquet
-rw-r--r-- 1 root root 839k Apr  8 03:53 survey_df08.parquet
-rw-r--r-- 1 root root 850k Apr  8 03:53 survey_df09.parquet
-rw-r--r-- 1 root root 919k Apr  8 03:53 survey_df10.parquet

In [14]:
df2 = pd.read_parquet("Perseverance_Survey_132_cols.parquet")
df2.shape

(183280, 132)

In [101]:
df2.head()

,Topic,Grade Level,School Board District,School Level,School Name,Survey Administration,School Year,Sisnumber,Survey Window,Favorable,...,Title I School 1819,Title I School 1920,Title I School 2021,title_i_school_2223,Total Ppe Fy19,Total Ppe Fy20,Total Ppe Fy21,Total Ppe Fy23,Tsi School1718,Zip Code
0,Perseverance,Grade 4,District 2,ES,Seven-Bar Elementary School,Spring 2023-2024,2023-2024,980024996,Spring,nan,...,Yes,Yes,No,Yes,9338.0,10863.0,12606.0,16240,No,87114.0
1,Perseverance,Grade 3,District 5,ES,Lavaland Elementary School,Spring 2023-2024,2023-2024,980023049,Spring,nan,...,Yes,Yes,Yes,Yes,8894.0,10080.0,11160.0,17107,Yes,87105.0
2,Perseverance,Grade 3,District 3,ES,Lowell Elementary School,Spring 2023-2024,2023-2024,980022558,Spring,nan,...,Yes,Yes,Yes,Yes,9887.0,12126.0,12650.0,22756,No,87106.0
3,Perseverance,Grade 4,District 6,ES,Collet Park Elementary School,Spring 2023-2024,2023-2024,980023942,Spring,nan,...,Yes,Yes,Yes,Yes,10554.0,11414.0,13806.0,18696,No,87112.0
4,Perseverance,Grade 4,District 4,ES,Hawthorne Elementary School,Spring 2023-2024,2023-2024,980022469,Spring,nan,...,Yes,Yes,Yes,Yes,13266.0,15697.0,16718.0,22068,No,87123.0

In [102]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 132 entries, Topic to Zip Code
dtypes: object(132)
memory usage: 184.6+ MB

## Read from github

In [2]:
df2 = pd.read_parquet( "https://github.com/DS-17-Projects-Tracking/NMPEDdata/raw/refs/heads/main/aps/Perseverance_Survey_132_cols.parquet" )
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 132 entries, Topic to Zip Code
dtypes: object(132)
memory usage: 184.6+ MB

In [36]:
df3 = df2.apply(pd.to_numeric, errors='ignore')

<ipython-input-36-00e737437462>:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df3 = df2.apply(pd.to_numeric, errors='ignore')

In [66]:
df3.to_parquet("foo.parquet")

In [67]:
df_types = pd.concat([df3.dtypes, df.dtypes], axis = 1)
df_types.columns = ["df3", "df"]
df_types

                           df3       df
Topic                   object   object
Grade Level             object   object
School Board District   object   object
School Level            object   object
School Name             object   object
...                        ...      ...
Total Ppe Fy20         float64  float64
Total Ppe Fy21         float64  float64
Total Ppe Fy23           int64    int64
Tsi School1718          object   object
Zip Code               float64  float64

[132 rows x 2 columns]

In [73]:
df.astype("str").apply(pd.to_numeric, errors='ignore').to_parquet("foo.parquet")

<ipython-input-73-a653b6b17499>:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df.astype("str").apply(pd.to_numeric, errors='ignore').to_parquet("foo.parquet")

In [74]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 132 entries, Topic to Zip Code
dtypes: float64(48), int64(8), object(76)
memory usage: 184.6+ MB

In [75]:
df3.dtypes

Topic                     object
Grade Level               object
School Board District     object
School Level              object
School Name               object
                          ...
Total Ppe Fy20           float64
Total Ppe Fy21           float64
Total Ppe Fy23             int64
Tsi School1718            object
Zip Code                 float64
Length: 132, dtype: object

In [47]:
def try_numeric(data_series):
  '''
  The answer to pd.to_numeric( coerce="error" )

  Usage:
    df.apply(try_numeric)
  '''
  data_types = ["int", "float", "datetime64[ns]", "category", "str"]
  for dtype in data_types:
    if ( dtype == "category" and data_series.nunique(dropna=False) > 50 ) :
      continue
    try:
      return data_series.astype(dtype)
    except:
      pass
  return data_series

In [44]:
if (df2["School Name"].nunique(dropna=False) > 50) :
  print(True)
else:
  print(False)

True

In [48]:
df2[["School Name"]].apply(try_numeric).dtypes

School Name    object
dtype: object

In [49]:
df2["dt_test"] = "2025-04-03"
df2[["dt_test"]].dtypes

dt_test    object
dtype: object

In [50]:
df2[["dt_test"]].apply(try_numeric).dtypes

dt_test    datetime64[ns]
dtype: object

In [51]:
df2.apply(try_numeric).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 133 entries, Topic to dt_test
dtypes: category(65), datetime64[ns](1), float64(48), int64(8), object(11)
memory usage: 106.5+ MB

In [52]:
cats_df = df2.apply(try_numeric).select_dtypes( include="category" )

In [61]:
cats_df[["Calendar"]].apply(lambda x: x.cat.codes)

        Calendar
0              1
1              0
2              0
3              1
4              0
...          ...
183275        -1
183276        -1
183277        -1
183278        -1
183279        -1

[183280 rows x 1 columns]

In [56]:
cats_df.nunique().sort_values().head(20)

Topic                               1
Survey Window                       1
School Year                         1
Survey Administration               1
All Students                        1
Charter School                      1
Dataset                             1
Principal Dob                       1
Survey Name                         1
Bilingual Program                   2
Calendar                            2
Csi School1920                      2
Cep Schools1819                     2
Csi School1718                      2
Bilingual Education Program         2
Abc Community School1819            2
Mri School1718                      2
English Learner Status              2
Extended Learning Time Pilot2122    2
Magnet School1920                   2
dtype: int64

In [15]:
cats_df.to_parquet("./test.parquet")

In [39]:
pd.read_parquet("./Perseverance_Survey_132_cols.parquet").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 132 entries, Topic to Zip Code
dtypes: float64(48), int64(8), object(76)
memory usage: 184.6+ MB

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 132 entries, Topic to Zip Code
dtypes: float64(48), int64(8), object(76)
memory usage: 184.6+ MB

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 132 entries, Topic to Zip Code
dtypes: object(132)
memory usage: 184.6+ MB

In [36]:
df.astype("str").apply(pd.to_numeric, errors = "ignore").to_parquet("./Perseverance_Survey_132_cols.parquet")

<ipython-input-36-e79b33bb0619>:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df.astype("str").apply(pd.to_numeric, errors = "ignore").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 132 entries, Topic to Zip Code
dtypes: int64(8), object(124)
memory usage: 184.6+ MB

In [94]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 132 entries, Topic to Zip Code
dtypes: float64(48), int64(8), object(76)
memory usage: 184.6+ MB

In [95]:
df3.dtypes

Topic                     object
Grade Level               object
School Board District     object
School Level              object
School Name               object
                          ...
Total Ppe Fy20           float64
Total Ppe Fy21           float64
Total Ppe Fy23             int64
Tsi School1718            object
Zip Code                 float64
Length: 132, dtype: object

In [96]:
df3["Total Ppe Fy21"]

0         12606.0
1         11160.0
2         12650.0
3         13806.0
4         16718.0
           ...
183275    10437.0
183276    10437.0
183277    10437.0
183278    10437.0
183279    10437.0
Name: Total Ppe Fy21, Length: 183280, dtype: float64

In [44]:
(
pd
.read_parquet( "https://github.com/DS-17-Projects-Tracking/NMPEDdata/raw/refs/heads/main/aps/Perseverance_Survey_132_cols.parquet" )
.apply(try_numeric)
.info()
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183280 entries, 0 to 183279
Columns: 132 entries, Topic to Zip Code
dtypes: float64(48), int64(8), object(76)
memory usage: 184.6+ MB